<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctorconsultantapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"></activity>

        <activity android:name=".AdminChangePasswordActivity"></activity>
        <activity android:name=".PatientChangePasswordActivity" />
        <activity android:name=".DoctorChangePasswordActivity" />
        <activity android:name=".ReviewDoctorActivity" />
        <activity
            android:name=".ImageActivity2"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".ViewPrescriptionActivity" />
        <activity
            android:name=".Image_Activity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".ManagePrescription2Activity" />
        <activity android:name=".ManagePrescriptionActivity" />
        <activity android:name=".DoctorViewAppointmentActivity" />
        <activity android:name=".PatientViewAppointmentsActivity" />
        <activity android:name=".ConfirmAppointmentActivity" />
        <activity android:name=".BookAppointmentActivity" />
        <activity android:name=".ViewSingleDoctorDetailsActivity" />
        <activity android:name=".ViewAllDoctorsActivity" />
        <activity android:name=".PatientSignupActivity" />
        <activity
            android:name=".PatientHomeActivity"
            android:label="@string/title_activity_patient_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PatientLoginActivity" />
        <activity android:name=".ManageGalleryActivity" />
        <activity android:name=".ManageScheduleActivity" />
        <activity android:name=".AddScheduleActivity" />
        <activity
            android:name=".DoctorHomeActivity"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DoctorSignupActivity" />
        <activity android:name=".DoctorLoginActivity" />
        <activity android:name=".AdminHome" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_96HeaVmgRvbrfT" />
    </application>

</manifest>